/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
.mat-form-field-wrapper {
    padding-bottom: 7px;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding-bottom: 0px;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }
app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.mt-6 {
    margin-top: 3.5rem!important;
  }
.profile-tag{
  font-family: 'Patua One', cursive;
}
.modal-backdrop {
  z-index: 0;
  background-color: transparent;
}